{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Fazer Login
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card auth-card">
                    <div class="card-body">
                        <h3 class="panel-title">Entrar na sua conta</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                    
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </form>
                        <div class="checkbox ck-remember">
                            <label>
                                <input class="ck-remember" name="remember" type="checkbox" value="Remember Me"><span style="color: #f2f2f2"> Remember Me</span>
                            </label>
                        </div>
                        <p class="change-form-p">Deseja registrar uma conta? <a href="/accounts/register">Clique aqui.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}